# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
build/

# VS Code
.vscode/

# JetBrains
.idea/

# Mac
.DS_Store